Repository iPho4ticket/backend, pull requests merged in 2024-09, with the labels that each got.

#2 :memo: Add Template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/normal_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 📝 Docs

#5 :tada: init payment module
  payment-service/build.gradle
  payment-service/src/main/java/com/ipho4ticket/paymentservice/PaymentServiceApplication.java
  payment-service/src/main/resources/application.properties
  payment-service/src/test/java/com/ipho4ticket/paymentservice/PaymentServiceApplicationTests.java
  settings.gradle
Labels: ⚙️ Setting

#7 :tada: init notification module
  notification-service/build.gradle
  notification-service/src/main/java/com/ipho4ticket/notificationservice/NotificationServiceApplication.java
  notification-service/src/main/resources/application.properties
  notification-service/src/test/java/com/ipho4ticket/notificationservice/NotificationServiceApplicationTests.java
  settings.gradle
Labels: ⚙️ Setting

#10 :sparkles: ticket basic setting + dev
  settings.gradle
  ticket-service/build.gradle
  ticket-service/src/main/java/com/ipho/ticketservice/TicketServiceApplication.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/dto/TicketInfoDto.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/dto/TicketRequestDto.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/dto/TicketResponseDto.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/event/CancelTicketEvent.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/event/SeatBookingEvent.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/event/TicketTopic.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/service/EventService.java
  ticket-service/src/main/java/com/ipho/ticketservice/application/service/TicketService.java
  ticket-service/src/main/java/com/ipho/ticketservice/domain/Ticket.java
  ticket-service/src/main/java/com/ipho/ticketservice/domain/TicketRepository.java
  ticket-service/src/main/java/com/ipho/ticketservice/domain/TicketStatus.java
  ticket-service/src/main/java/com/ipho/ticketservice/infrastructure/client/PaymentClient.java
  ticket-service/src/main/java/com/ipho/ticketservice/infrastructure/persistence/JpaTicketRepository.java
  ticket-service/src/main/java/com/ipho/ticketservice/presentation/TicketController.java
  ticket-service/src/main/resources/application.yml
  ticket-service/src/test/java/com/ipho/ticketservice/TicketServiceApplicationTests.java
  ticket-service/src/test/java/com/ipho/ticketservice/TicketServiceTest.java
Labels: ✨ Feature, ⚙️ Setting, ✅ Test

#11 ✨ 결제 DDD 구조 생성
  payment-service/build.gradle
  payment-service/src/main/java/com/ipho4ticket/paymentservice/application/dto/PaymentDTO.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/application/service/PaymentService.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/domain/model/Payment.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/domain/model/PaymentStatus.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/domain/repository/PaymentRepository.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/domain/service/PaymentDomainService.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/infrastructure/configuration/DataSourceConfig.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/infrastructure/configuration/JpaConfig.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/infrastructure/repository/JpaPaymentRepository.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/infrastructure/repository/PaymentRepositoryImpl.java
  payment-service/src/main/java/com/ipho4ticket/paymentservice/presentation/controller/PaymentController.java
  payment-service/src/main/resources/application.properties
  payment-service/src/main/resources/application.yml
Labels: ✨ Feature, ⚙️ Setting
